.cocoNerd {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  pointer-events: none !important;
  margin-right: 1em;
  max-height: 5.5em;
}

@media only screen and (max-width: 900px) {
  .cocoNerd {
    display: none;
  }
}