strong {
    color: rgba(255, 181, 66, 0.85);
}

body {
    background-color: #282725 !important;
}

.sidebar,
.header {
    // Color derived from normal cards
    background: #333230 !important;
}

.sidebar .active::before {
    background-color: rgba(255, 181, 66, 0.85) !important;
}

textarea {
    border-color: rgba(255, 181, 66, 0.85) !important;
}