body {
    font-family: arial, helvetica, sans-serif;
    margin:0;
    background:#404040;
}

@media(max-width:600px) {

    .navbar {
        display: none;
    }

    .sidenavleft {
        display: none;
    }

    .sidenavright {
        display: none;
    }

    .footer .inner_footer .footer_third a {
        width: 10%;
    }

}

.maintitleindex h1 {
    color:#DCDCDC;
    margin: 0;
    padding:0;
    overflow: hidden;
    position: fixed;
    font-size: 1.3vw;
    top: 3%;
    left: 4%;
    transform: translate(-1.25%, -4%);
}

.maintitleindex img {
    width:2%;
    position: fixed;
    top: 2%;
    left: 1%;
    transform: translate(-3%, -1%);
}

.welcome {
    color:#cccbcb;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
    text-shadow: 2px 2px 4px black;
}

.button {
    background-color: #235163;
    border: none;
    color: white;
    padding: 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color:#32728b;
    transition: background-color .5s;
}

.beginarrow {
    width: 2%;
    position: absolute;
    top: 50.5%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.footerindex {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.inner_footer .footer_third {
    height: 100%;
}

.inner_footer .footer_third a{
    font-size: 1.5vw;
    color: #DCDCDC;
    display: block;
    padding: 0.33vw;
}

.inner_footer .footer_third a:hover {
    color: #7a7a7a;
}

.inner_footer .footer_third li {
    display: inline-block;
}

.footer {
    z-index: 3;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

.navbarindex {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbarli {
    float: right;
    font-weight: bold;
}

.navbarli a {
    display: block;
    color:#cacaca;
    text-align: center;
    padding:1em;
    font-size: .75vw;
    text-decoration: none;
}

.navbarli a:hover {
   color:#DCDCDC;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: rgb(26, 26, 26);
}

.sidenavleft {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(44, 44, 44);
    padding-top: 4.5vw;
}

.sidenavleft a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 1vw;
    color: #818181;
    display: block;
}

.sidenavleft a:hover {
    color: #DCDCDC;
}

.sidenavright {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(44, 44, 44);
    padding-top: 4.5vw;
}

.sidenavright a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 1vw;
    color: #818181;
    display: block;
}

.sidenavright ul {
    padding: 0px 0px 0px 17px;
    font-size: 0vw;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenavright a:hover {
    color: #DCDCDC;
}

.titlecontainer {
    background-color: rgb(44, 44, 44);
}

.maintitle {
    z-index: 1;
    background-color: rgb(44, 44, 44)
}

.maintitle h1 {
    color:#DCDCDC;
    z-index: 4;
    margin: 0;
    padding:0;
    overflow: hidden;
    position: fixed;
    font-size: 1vw;
    top: 3%;
    left: 4%;
    transform: translate(-1.25%, -4%);
}

.maintitle img {
    width:2%;
    position: fixed;
    top: 1.35%;
    left: 1%;
    z-index: 4;
    transform: translate(-3%, -1%);
}

.backarrow {
    width:5%;
    margin-left:13vw;
}

.forwardarrow {
    width:5%;
    margin-left:63vw;
}

.fullheader {
    margin-top:6vw;
    margin-right: 12vw;
    margin-left: 12vw;
    color:#ffb61a;
    font-size: calc(22.5px + 1vw);
    word-wrap: breakword;
}

.fullheader p {
    font-weight: normal;
    color:#DCDCDC;
    padding-top: .75vw;
    padding-right: 15vw;
    font-size: calc(15px + .5vw);
    word-wrap: break-word;
}

.subheader {
    margin: 1.35vw 12vw;
    color:#DCDCDC;
    font-size: calc(10px + 1vw);
    word-wrap: break-word;
}

.subheader::before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.subparagraph {
    color:#DCDCDC;
    margin:0 12vw;
    padding-right: 15vw;
    font-size: calc(10px + .45vw);
    line-height:1.75em;
}

.subparagraph h2 {
    color:#DCDCDC;
}

.subparagraph a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .45vw);
}

.subparagraph a:hover {
    text-decoration: underline;
}

.standard_ul {
    color:#DCDCDC;
    margin:0 12vw;
    padding-right: 15vw;
    font-size: calc(10px + .45vw);
    line-height:1.75em;
}

.standard_ul li {
  padding: .2vw;
}

.standard_ul a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .45vw);
}

.standard_ul a:hover {
    text-decoration: underline;
}

.smallheader {
    margin: 1vw 12vw;
    margin-top:1.4vw;
    color:#DCDCDC;
    font-size: calc(15px + .45vw);
    word-wrap: break-word;
    line-height:1.75em;
}

.smallheader::before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.smallheaderoptional {
    margin: 1vw 12vw;
    margin-top:1.4vw;
    color:#fada78;
    font-size: calc(15px + .45vw);
    word-wrap: break-word;
    line-height:1.75em;
}

.smallheaderoptional::before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.smallheaderperformance {
    margin: 1vw 12vw;
    margin-top:1.4vw;
    color:#DCDCDC;
    font-size: calc(15px + .45vw);
    word-wrap: break-word;
    line-height:1.75em;
}

.smallheaderperformance::before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.internallink {
    text-decoration: none;
}

.internallink:hover {
    cursor:text;
}

.blockquote {
    color:#DCDCDC;
    background-color: rgb(52, 52, 54);
    font-size: calc(10px + .3vw);
    border-left: 6px solid rgb(236, 150, 37);
    padding: 0 10px;
    margin-left: 12vw;
    margin-right:26vw;
    line-height:1.75em;
}

.blockquote a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .3vw);
}

.blockquote a:hover {
    text-decoration: underline;
}

.standard_ol {
    color:#DCDCDC;
    margin:0 12vw;
    padding-right: 15vw;
    font-size: calc(10px + .45vw);
    line-height:1.75em;
}

.standard_ol li {
  padding: .2vw;
}

.standard_ol a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .45vw);
}

.standard_ol a:hover {
    text-decoration: underline;
}

.smalllist {
    font-size: .75vw;
    line-height: 1.3em;
}

.smallheader a {
    padding-top: 1vw;
    color:rgb(51, 122, 183);
    text-decoration: none;
}

.smallheader a:hover {
    text-decoration: underline;
}

.smallheaderoptional a {
    padding-top: 1vw;
    color:#fada78;
    text-decoration: none;
}

.smallheaderoptional a:hover {
    text-decoration: underline;
}

.smallheaderperformance a {
    padding-top: 1vw;
    color:#ffa58a;
    text-decoration: none;
}

.smallheaderperformance a:hover {
    text-decoration: underline;
}

.install {
    margin-right: 12vw;
    margin-left: 12vw;
    color:#ffb61a;
    padding-right: 15vw;
    font-size: calc(11px + .5vw);
    word-wrap: break-word;
}

.install::before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.imgsize {
    width:100%;
    height:550px;
    object-fit:cover;
    object-position:50% 50%;
}

code {
    background-color:rgb(52, 52, 54);
    padding: 0px 5px;
}

strong {
    color:rgb(250, 173, 121);
}

.spoiler {
    color:rgb(31, 31, 31);
    background-color:rgb(31, 31, 31);
    padding: 0 5px;
}

.spoiler:hover{
    color:#DCDCDC;
    background-color:rgb(52, 52, 54);
    transition-duration: 300ms;
}

/* Buttons, forms and input */

input,
textarea {
    border: 1px solid #d9d8dc;
}

input:focus,
textarea:focus {
    border: 1px solid #393F35;
}

textarea {
    font-family: 'JetBrains Mono', monospace;
    width: 50%;
    font-size:0.9vw;
}

textarea, select, input[type] {
    color: #d9d8dc;
    padding: 6px 10px;
    margin-bottom: 10px;
    background-color: #393a38;
    border: 1px solid #eba91c;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}