.link-download a::after,
.link-page a::after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  transform: translateY(0.25em);
  background-size: contain;
  background-repeat: no-repeat;
}

.link-page a::after {
  background-image: url("../img/UI/Open.svg");
}

.link-download a::after {
  background-image: url("../img/UI/Download.svg");
}